WebEDoc2017/WebEdoc2017/WebEDoc2017.Controller/Service References/PHICService/PHICService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientRecords">
        <s:complexType />
      </s:element>
      <s:element name="GetPatientRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPatientRecordsResult" type="tns:PatientData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PatientData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="dt">
            <s:complexType>
              <s:sequence>
                <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="isValid" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentCategory">
        <s:complexType />
      </s:element>
      <s:element name="GetDocumentCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentCategoryResult" type="tns:PatientData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetPatientRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPatientRecords" />
  </wsdl:message>
  <wsdl:message name="GetPatientRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPatientRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentCategory" />
  </wsdl:message>
  <wsdl:message name="GetDocumentCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentCategoryResponse" />
  </wsdl:message>
  <wsdl:portType name="PHICServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientRecords">
      <wsdl:input message="tns:GetPatientRecordsSoapIn" />
      <wsdl:output message="tns:GetPatientRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentCategory">
      <wsdl:input message="tns:GetDocumentCategorySoapIn" />
      <wsdl:output message="tns:GetDocumentCategorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PHICServiceSoap" type="tns:PHICServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientRecords">
      <soap:operation soapAction="http://tempuri.org/GetPatientRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentCategory">
      <soap:operation soapAction="http://tempuri.org/GetDocumentCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PHICServiceSoap12" type="tns:PHICServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientRecords">
      <soap12:operation soapAction="http://tempuri.org/GetPatientRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentCategory">
      <soap12:operation soapAction="http://tempuri.org/GetDocumentCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PHICService">
    <wsdl:port name="PHICServiceSoap" binding="tns:PHICServiceSoap">
      <soap:address location="http://localhost:50452/PHICService.asmx" />
    </wsdl:port>
    <wsdl:port name="PHICServiceSoap12" binding="tns:PHICServiceSoap12">
      <soap12:address location="http://localhost:50452/PHICService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>